
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">NEW HEROS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="catalogoS" routerLinkActive="active">Catalogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacto"routerLinkActive="active">Contactos</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="nosotros" routerLinkActive="active">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="producto" >Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="inventario" routerLinkActive="active">Inventario</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="carritoCompra" routerLinkActive="active">compras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="usuario" routerLinkActive="active">usuario baseDatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tabla" routerLinkActive="active">tabla baseDatos</a>
        </li>
        <li class="nav-item" *ngIf="!auth.isLoggedIn()">
        <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <a class="nav-link" (click)="auth.logout()" style="cursor:pointer">
          Cerrar sesión
         </a>
        </li>

        
      </ul>
    </div>
  </div>
</nav>



